@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div>

@if (true)
{
    <Text>This fails to render correctly, notice lack of h1.</Text>
    <Text2>This is text2.</Text2>
    <div>
        <Text>This renders correctly.</Text>
        <Text2>This is text2.</Text2>
    </div>
}
</div>
